@using Capstone_Wishlist_app.Services

@{
    ViewBag.Title = "Find Gifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find Gifts</h2>

@using (Html.BeginForm("Search", "Item", FormMethod.Get, new { @class = "form-horizontal", id="searchForm" })) {
    <div class="form-group">
        <label class="control-label col-md-2">Category</label>
        <div class="col-md-2">
            @Html.DropDownList("category", GetCategorySelectList(), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Key Words</label>
        <div class="col-md-4">
            @Html.TextBox("keywords", "", new { @class = "form-control", placeholder = "Enter words that describe the item"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <button class="btn btn-default" type="button" onclick="getSearchResults()">Search</button>
        </div>
    </div>
}

<div id="searchResults">

</div>

<script type="text/javascript">
    function getSearchResults() {
        var $searchForm = $("#searchForm");
        var category = $("select[name=category]", $searchForm).val();
        var keywords = $("input[name=keywords]", $searchForm).val();

        $.get("Search", {
            category: category,
            keywords: keywords
        }, function (results) {
            $("#searchResults").html(results);
        }, "html");
    }
</script>

@functions{
    IEnumerable<SelectListItem> GetCategorySelectList() {
        return Enum.GetNames(typeof(ItemCategory))
            .Select(c => new SelectListItem {
                Text = c,
                Value = c
            });
    }
}



