@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santa's Wishlist<br />
    1100 South Marietta Pkwy SE<br />
    <abbr title="Phone">P:</abbr>
    (678) 915-7778
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@santawishlist.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@santawishlist.com</a>
</address>