@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">

        <h1>Santa' Wishlist</h1>
        <div class="col-md-8">
            <p class="lead">Make A Difference Today.</p>
            <p><a href="" class="btn btn-primary btn-lg">Give a Gift &raquo;</a></p>
            </div>
            <div class="col-md-4"><img src="~/Content/images/santa_gift.jpg" height="266" width="400" /></div>
        </div>
    
</div>

<div class="row">
    <div class="col-md-3, col-lg-3">
        <h2>Getting started</h2>
        <p>
            The end of year holiday season is historically a difficult time for impoverished families that want to provide happy memories for their children.
            This system is designed to help those children by facilitating gift-giving by charitable donors to children in need.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6, col-lg-6">
        <h2>Santa's Wishlist</h2>
        <p> The end of year holiday season is historically a difficult time for impoverished families that want to provide happy memories for their children.
            This system is designed to help those children by facilitating gift-giving by charitable donors to children in need.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3, col-lg-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>