@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("Moderator")) {
    <h3 style="color:darkturquoise"><strong>Moderator Tools ------------------------</strong></h3>
    <div class="row">
        

        <div class="col-md-3, col-lg-4">
            <h2>Register a Family</h2>
            <p>To register a family and add a child's profile</p>
            <p><a class="btn btn-default" href="@Url.Action("Register", "Family")">Register a Family &raquo;</a></p>
        </div>
        <div class="col-md-3, col-lg-4">
            <h2>Approve Wishlists Items</h2>
            <p>
                To create new profiles and wishlists
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Wishlist")">Approve Wishlist Items&raquo;</a></p>
        </div>
    </div>
    <hr />
}
@if (User.IsInRole("Admin")) {
    Html.RenderPartial("_AdministratorHome");
} else if (ViewData.ContainsKey("FamilyId")) {
    <br />
    <div class="jumbotron">
        <h1>Welcome To Santa's Wishlist</h1>
        <p>See the quick links below to manage the family's profiles and wishlists.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href=@Url.Action("RegisterChild", "Family", new { id = ViewBag.FamilyId }) class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <i class="fa fa-user-plus"></i>
                        Register a Child
                    </h4>
                    <p class="list-group-item-text">
                        Set up a child's profile and create a wishlist.
                    </p>
                </a>
            </div>
            <div class="list-group">
                <a href=@Url.Action("ViewChildren", "Family", new { id = ViewBag.FamilyId }) class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <i class="fa fa-user"></i>
                        Child Profiles
                    </h4>
                    <p class="list-group-item-text">
                        See the list of profiles for the children of this family.
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href=@Url.Action("ViewWishlists", "Family", new { id = ViewBag.FamilyId }) class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <i class="fa fa-file-text"></i>
                        Family Wishlists
                    </h4>
                    <p class="list-group-item-text">
                        See a list of all wishlists owned by the family.
                    </p>
                </a>
            </div>
        </div>
    </div>
} else {
    <div class="jumbotron">
        <div class="container">
            <h1>Santa's Wishlist</h1>
            <div class="col-md-8">
                <p class="lead">Make A Difference Today.</p>
                @if (ViewData.ContainsKey("DonorId")) {
                    <p><a href="@Url.Action("ViewWishlists", "Donor", new { id = ViewBag.DonorId })" class="btn btn-primary btn-lg">Give a Gift &raquo;</a></p>
                } else {
                    <p><a href="@Url.Action("Register", "Donor")" class="btn btn-primary btn-lg">Become a Donor &raquo;</a></p>
                }
            </div>
            <div class="col-md-4"><img src="~/Content/images/santa_gift.jpg" height="266" width="400" class="img-responsive" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3, col-lg-4">
            <h2>The Vision</h2>
            <p>
                The end of year holiday season is historically a difficult time for impoverished families that want to provide happy memories for their children.
                This system is designed to help those children by facilitating gift-giving by charitable donors to children in need.
            </p>
        </div>
    </div>
}
