
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="glyphicon glyphicon-warning-sign text-danger" style="margin-right:10px"></span>
    Unauthorized Request
</h2>
<p>
    The user currently logged in to the application is not authorized to view this page.
    This error may be the result of trying to manage a family profile, child profile, or wishlist that is not owned by the current user.
</p>

