.christmas {
 /*background: url(http://placehold.it/1920x1080) no-repeat center center fixed;*/
 background: url("../Content/Images/christmas2.jpg") no-repeat center center fixed !important;
  background-size: cover; 
}

.plates {
    background-color: #ffd9b3;
}

.other-color{
    background: #ACF9FA
  }
