<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding"></binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp
            defaultBodyStyle="Wrapped"
            defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
    <endpoint
      address="http://localhost:8080/RetailService/Retailer.svc"
      binding="webHttpBinding"
      bindingConfiguration="webBinding"
      behaviorConfiguration="webBehavior"
      name ="RetailService"
      contract ="RetailService.IRetailer"/>
  </client>
  </system.serviceModel>
</configuration>